@font-face {
	font-family: "Jost Regular";
	src: url(../fonts/Jost-Regular.woff2);
	font-weight: normal;
    font-display: fallback;
}
@font-face {
	font-family: "Jost Thin";
	src: url(../fonts/Jost-ExtraLight.woff2);
	font-weight: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Jost Bold";
    src: url(../fonts/Jost-SemiBold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
	font-family: "Jost Light";
	src: url(../fonts/Jost-Light.woff2);
	font-weight: normal;
    font-display: fallback;
}
@font-face {
	font-family: "Jost Medium";
	src: url(../fonts/Jost-Medium.woff2);
	font-weight: normal;
    font-display: fallback;
}